.deleteProject-Container {
  padding: 1rem;
  margin: 5rem;
  border: 1px solid black;
  border-radius: 1rem;

  .deleteProject-Title {
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px dotted black;
  }
}
