.createProject-form {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 2rem;
  margin: 5rem;

  .projectForm-OR {
    text-align: center;
    justify-content: center;
    font-weight: bolder;
    
  }

  .projectForm-title {
    font-size: 2rem;
    font-weight: bolder;
  }

  .projectForm-CSV {
    border: dotted;
    padding: 2rem;
    border-radius: 1rem;
  }
}
